.page-container{
    margin: 0px;
    border: 1px solid transparent;
    padding: 0px;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
}
.form-container{
    border: 1px solid transparent;
    width: 50%;
    background-color: #60c0f9;
    min-height: 200px;
}
.img-container{
    border: 1px solid transparent;
    width: 50%;
    min-height: 200px;
}