body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-weight: bold;
    margin: 0;
    color: #00045b;
}
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-align: center;
    color: #00045b;
}

span {
    font-size: 12px;
    color: #2d2c2c;
}

a {
    color: red;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.slider button, .signin-form button, .signup-form button{
    border-radius: 20px;
    border: 1px solid #00045b;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    background-color: #00045b;
    cursor: pointer;
}
.slider button{
    margin-top: 280px;
    align-self: center;
}
.sign-up-message button{
    margin-top: 280px;
}
.slider h1, p{
    margin: 0px 0px;
}
.signin-form button{
    margin-top: 60px;
}
.signup-form button{
    margin-top: 20px;
}
.signin-form input{
    margin-top: 0px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}

.form-container{
    background-color: #60c0f9;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.slider{
    background-image: url("https://res.cloudinary.com/aidee/image/upload/v1568650293/Merakians/Blogger_image_h9xtns.jpg");
    width: 50%;
    height: 100%;
    position: relative;
    top: -200%;
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.slider-panel{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 200%;
    position: relative;
    left: 0;
    top: 0;
}

.panel-item{
    width: 50%;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container .signin-form{
    position: relative;
    color: #2d2c2c;
    background-color: #60c0f9;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
}

.form-container .signup-form{
    position: relative;
    color: #00045b;
    background-color: #60c0f9;
    width: 50%;
    height: 100%;
    top: -100%;
    left: 0;
    display: block;
}
.signup-form h1, p {
    color: #00045b;
    margin-top: 20px;
}
.signup-form span{
    margin-bottom: 50px;
}
.signin-form h1{
    margin-top: 70px;
}

.slider-right{
    animation-name: sliderRight;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes sliderRight{
    from {
        left: 0;
    }
    to{
        left: 50%;
    }
}

.slider-left{
    animation-name: sliderLeft;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes sliderLeft{
    from {
        left: 50%;
    }
    to{
        left: 0;
    }
}



.slider-panel-right{
    animation-name: sliderPanelRight;
    animation-delay: 50ms;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes sliderPanelRight{
    from {
        left: -100%;
    }
    to{
        left: 0;
    }
}

.slider-panel-left{
    animation-name: sliderPanelLeft;
    animation-delay: 50ms;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes sliderPanelLeft{
    from {
        left: 0;
    }
    to{
        left: -100%;
    }
}


.signin-form-enter{
    animation-name: signinEnter;
    animation-delay: 100ms;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 1;
}
@keyframes signinEnter{
    from{
        left: 25%;
    }
    to{
        left: 50%;
    }
}

.signin-form-leave{
    animation-name: signinLeave;
    animation-delay: 100ms;
    animation-duration: 250ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;    
    z-index: 0;
}
@keyframes signinLeave{
    from{
        left: 50%;
    }
    to{
        left: 25%;
    }
}


.signup-form-enter{
    animation-name: signupEnter;
    animation-delay: 100ms;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;  
    z-index: 1;
}
@keyframes signupEnter{
    from{
        left: 25%;
    }
    to{
        left: 0%;
    }

}

.signup-form-leave{
    animation-name: signupLeave;
    animation-delay: 100ms;
    animation-duration: 250ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;   
    z-index: 0;
}
@keyframes signupLeave{
    from{
        left: 0%;
    }
    to{
        left: 25%;
    }
    
}
.check {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.check div.left {
    width: 50%;
    text-align: center;
}
.check div.right {
    width: 50%;
    text-align: center;
}
input[type="email"], input[type="password"], input[type="text"] {
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px 5px;
    margin: 6px 0;
    width: 50%;
}
img{
    display: block;
    border: 1px transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
}
.social{
    display: inline-block;
    padding: 0px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}
.social:hover{
    opacity: 0.7;
}
.socicon-facebook{
    background: #3b5998;
    color: white;
}
.socicon-twitter{
    background: #55acee;
    color: white;
}
.socicon-google{
    background: #dd4b39;
    color: white;
}

#red {
   color: red;
}

#success {
    color: green;
}